<h1>Material-ui works!</h1>

<p>material ui command has been executed it works better than bootstrap! It has animations + lots of features ,
    command:- ng add @angular/material</p>

<mat-slide-toggle>Toggle me!</mat-slide-toggle>
<p>comment: -For this slide, slide has been imported in app.module.ts</p>

<br />
<h3>Material Buttons</h3>
<div class="example-button-row">
    <button mat-raised-button>Basic</button>
    <button mat-raised-button color="primary">Primary</button>
    <button mat-raised-button color="accent">Accent</button>
    <button mat-raised-button color="warn">Warn</button>
    <button mat-raised-button disabled>Disabled</button>
    <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
</div>
<p>comment: -For this design button, material button module has been imported in app.module.ts</p>


<br />
<h3>Material Badge</h3>

<div class="demo-section">
    Icon with a badge
    <mat-icon matBadge="15" matBadgeColor="warn">home</mat-icon>
    <!-- Include text description of the icon's meaning for screen-readers -->
    <span class="cdk-visually-hidden">
        Example with a home icon with overlaid badge showing the number 15
    </span>
</div>

<p>comment: -For this badge, material badge module has been imported in app.module.ts</p>